<%- include('partial/body-open') %>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
        
        <%- include('partial/header-nav') %> 

        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="welcome-card">
                    
                    <div class="mdl-card__supporting-text">
                        <div class="container mt-5">
                            <div class="mdl-card__title2">
                                <h2 class="mdl-card__title-text">Dizimistas</h2>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/dizimistas/buscar" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Por Código &nbsp;
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <a href="/dizimistas/lista" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Listar Todos &nbsp;
                            <i class="fa-solid fa-list-ul"></i>
                        </a>
                        <!--<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Gerar Carnês &nbsp;
                            <i class="fa-solid fa-file-pdf"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </main>
    </div>

    <%- include('partial/body-close') %>    