<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
      <!-- Custom styles for this template -->
      <link href="css/form-validation.css" rel="stylesheet">
    
    <title>Login</title>
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="img/logo.png" alt="" width="80" height="80">
            <h2>GET DEV Program</h2>
            <p class="lead">Inicie sua sessão logando com o github.</p>
          </div>

          <div class="row">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red" href="/">
                    <i class="material-icons left">arrow_back</i>
                </a>
              </div>
          </div>

          <div id="getdev" class="col-md-12 order-md-1">
            <div class="section" style="text-align: center;">
                <a href="/auth/github" class="btn btn-lg grey darken-3" style="color: white;">
                    <i class="fab fa-github left"></i>&nbsp; &nbsp; Log In With Github
                </a>
            </div>
          </div>
        </div>
      
        <!--
    <div class="container login-container">
        <div class="card" style="margin-top:100px;">
            <div class="card-content">
                <h3 style="text-align: center;"><i class="fas fa-book"></i>&nbsp;GETDev Program</h3>
                <div class="section">
                    <p class="lead" style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod blanditiis hic
                        laudantium, quidem deleniti impedit.</p>
                </div>
                <div class="divider"></div>
                <div class="section" style="text-align: center;">
                    <a href="/auth/github" class="btn grey darken-3">
                        <i class="fab fa-github left"></i> Log In With Github
                    </a>
                </div>
            </div>
        </div>
    </div>-->

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021-2022 IDTI</p>
      </footer>
</body>

</html>