<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            
            <input class="mdl-textfield__input" id="txt_consulta" type="text" name="consulta" placeholder="Buscar por nome ou código">
            <br>

            <div class="table-responsive">
                <table id="tabela" class="mdl-data-table">
                    <thead>
                    <tr>
                        <th style="text-align: center">Cod</th>
                        <th class="">Nome</th>
                        <th class=""></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% todo.forEach(todos=>{ %>
                        <tr>
                            <td style="text-align: center;"><%=todos.cod%></td>
                            <td class=""><%= todos.nome %></td>
                            <td class="">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/dizimistas/carnes/<%=todos.cod%>"> Gerar Carnê &nbsp; <i class="fa-solid fa-file-pdf"></i>
                                </a>
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/dizimistas/<%=todos.cod%>/carnes/pagamento"> Registrar Pagamento &nbsp; <i class="fa-solid fa-file-invoice-dollar"></i>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>